global
    maxconn 20000                    # giới hạn kết nối đến Proxy
    daemon
   # log dev/log/local0
    log stdout format raw local0 debug

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    mode tcp                           # mode tcp
    option tcplog                      # option tcplog

frontend http_frontend
    bind *:80  # Thay bằng *:443 nếu dùng HTTPS
    mode http
    log global

    default_backend web_backend

backend web_backend
    filter compression
    compression direction both 
    compression algo-req deflate
    compression type-req application/json text/xml text/plain 
    compression algo-res gzip
    compression type-res text/css text/html text/plain text/xml text/javascript application/javascript application/json
    compression offlo
    mode http
    balance roundrobin
    retries 3
    server server1 payload:3000 check
